/*css reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ul {
  list-style: none;
}

body {
  line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

body { 
  font-size: 62.5%;
  font-family: Microsoft YaHei;
  background-image: url(../images/bg.jpg);
  overflow-x: hidden;
}

/*头部部分*/

#page-header {
  width: 100%;
  height: auto;
  background-image: url(../images/banner.jpg);
  background-size: 100% 100%;
}

#page-header h1 {
  margin: 0 auto;
  max-width: 1000px;
}

/*导航*/

#page-content { position: relative; }
#navbar {
  position: absolute;
  right: 50px;
  top: 120px;
  -webkit-transition: .8s; 
     -moz-transition: .8s; 
      -ms-transition: .8s; 
       -o-transition: .8s; 
          transition: .8s;
  z-index: 1000;
}

.navbar-nav {
  width: 95px;
  height: 210px;
  background-image: url(../images/nav.png);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; 
     -moz-flex-direction: column; 
      -ms-flex-direction: column; 
       -o-flex-direction: column; 
          flex-direction: column;
  -webkit-justify-content: space-around; 
     -moz-justify-content: space-around; 
      -ms-justify-content: space-around; 
       -o-justify-content: space-around; 
          justify-content: space-around;
}
.navbar-nav li {
  line-height: 23px;
  height: 23px;
  background-color: #ab1827;
  -webkit-border-radius: 15px; 
     -moz-border-radius: 15px; 
      -ms-border-radius: 15px; 
       -o-border-radius: 15px; 
          border-radius: 15px;
  -webkit-animation-duration: 1s; 
     -moz-animation-duration: 1s; 
      -ms-animation-duration: 1s; 
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1; 
     -moz-animation-iteration-count: 1; 
      -ms-animation-iteration-count: 1; 
       -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.navbar-nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
}
.navbar-nav li:hover {
  background-color: #fd7202;
  -webkit-animation-name: pulse; 
     -moz-animation-name: pulse; 
      -ms-animation-name: pulse; 
       -o-animation-name: pulse;
          animation-name: pulse;
}
/*主体部分*/

.img-responsive { 
  max-width: 100%;
  height: auto; 
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 113px;
}

.content-header {
  margin-bottom: 40px;
}

/*电子刊*/
.knet-content h2 {
  margin-bottom: 50px;
}

.knet-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between; 
     -moz-justify-content: space-between; 
      -ms-justify-content: space-between; 
       -o-justify-content: space-between; 
          justify-content: space-between;
  -webkit-align-items: center; 
     -moz-align-items: center; 
      -ms-align-items: center; 
       -o-align-items: center; 
          align-items: center;
}

.knet-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; 
     -moz-flex-direction: column; 
      -ms-flex-direction: column; 
       -o-flex-direction: column; 
          flex-direction: column;
  -webkit-align-items: center; 
     -moz-align-items: center; 
      -ms-align-items: center; 
       -o-align-items: center; 
          align-items: center;
  -webkit-justify-content: center; 
     -moz-justify-content: center; 
      -ms-justify-content: center; 
       -o-justify-content: center; 
          justify-content: center;
}

.knet-right h3 {
  font-size: 3em;
  text-align: center;
  margin: 25px 0 45px 0;
}
.knet-right-main {
  max-width: 313px;
  background-color: rgba(237,212,189,0.5);
  padding: 35px 30px;
  font-size: 1.8em;
  text-indent: 2em;
  margin-bottom: 25px;
}

.knet-right-main p{
  line-height: 1.4em;
}

.info-button {
  display: block;
  width: 175px;
  line-height: 75px;
  text-decoration: none;
  text-align: center;
  color: #cd593d;
  background-color: #f2d0a6;
  font-size: 3em;
}

/*在回首部分*/
.lookback-main {
  width: 100%;
  height: 436px;
  background-image: url(../images/lookbackbg.png);
  position: relative;
  background-size: 100% 100%;
}

.lookback-body {
    position: absolute;
    left: 36%;
    top: 100px;
}
.lookback-body li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.lookback-body a {
  text-decoration: none;
  color: #fdeeed;
  line-height: 25px;
  font-size: 1.3em;
}

.lookback-body a:hover {
  text-decoration: underline;
}
#more {
  float: right;
  padding-top: 10px;
  color: #000;
}

#more:hover {
  color: #e1c9c0;
}

/*话当下部分*/
.saying-main {
  width: 100%;
  height: 428px;
  background-image: url(../images/sayingbg.png);
  position: relative;
  background-size: 100% 100%;
}

.saying-body {
    position: absolute;
    left: 30%;
    top: 120px;
}

.saying-body li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.saying-body a{
  text-decoration: none;
  color: #fdeeed;
  line-height: 25px;
  font-size: 1.3em;
}

.saying-body a:hover {
  text-decoration: underline;
}

/*望未来部分*/
.future-main {
  width: 100%;
  height: 494px;
  background-image: url(../images/futurebg.png);
  position: relative;
  background-size: 100% 100%;
}

.future-body {
    position: absolute;
    left: 18%;
    top: 140px;
}

.future-body li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.future-body a{
  text-decoration: none;
  color: #fdeeed;
  line-height: 25px;
  font-size: 1.3em;
}

.future-body a:hover {
  text-decoration: underline;
}

/*话题部分*/

.topic-main {
  background-image: url(../images/topicbg.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  border: 10px solid #fff;

}

.topic-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around; 
     -moz-justify-content: space-around; 
      -ms-justify-content: space-around; 
       -o-justify-content: space-around; 
          justify-content: space-around;
}
.topic-item {
  width: 320px;
  line-height: 25px;
  font-size: 1.8em;
  padding: 40px 30px;

}

.topic-item p { 
  text-indent: 2em;
}

/*诗话长征部分*/

.poem-content { margin-bottom: 100px; }
/*版权部分*/

#page-footer{
  width: 100%;
  height: auto;
  background-color: #ee694f;
}

.footer {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between; 
     -moz-justify-content: space-between; 
      -ms-justify-content: space-between; 
       -o-justify-content: space-between; 
          justify-content: space-between;
  -webkit-align-items: center; 
     -moz-align-items: center; 
      -ms-align-items: center; 
       -o-align-items: center; 
          align-items: center;
}

.copyright{ width: 610px; }
.copyright p{
   font-size:1.2em;
   line-height:30px;
}

/*动画效果*/

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1); 
     -moz-transform: scale3d(1, 1, 1); 
      -ms-transform: scale3d(1, 1, 1); 
       -o-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25); 
     -moz-transform: scale3d(1.25, 1.25, 1.25); 
      -ms-transform: scale3d(1.25, 1.25, 1.25); 
       -o-transform: scale3d(1.25, 1.25, 1.25);
          transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1); 
     -moz-transform: scale3d(1, 1, 1); 
      -ms-transform: scale3d(1, 1, 1); 
       -o-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
  -webkit-transform: scale3d(1, 1, 1); 
     -moz-transform: scale3d(1, 1, 1); 
      -ms-transform: scale3d(1, 1, 1); 
       -o-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  }

  50% {
  -webkit-transform: scale3d(1.25, 1.25, 1.25); 
     -moz-transform: scale3d(1.25, 1.25, 1.25); 
      -ms-transform: scale3d(1.25, 1.25, 1.25); 
       -o-transform: scale3d(1.25, 1.25, 1.25);
          transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
  -webkit-transform: scale3d(1, 1, 1); 
     -moz-transform: scale3d(1, 1, 1); 
      -ms-transform: scale3d(1, 1, 1); 
       -o-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@media screen and (max-width: 1000px) {
  #navbar { display: none; }
}
@media screen and (max-width: 800px) {
  #knet > img {
    width: 150px;
    margin: 0 auto;
    display: block;
  }
  .wrapper{
    max-width: 600px;
    padding-top: 10%;
  }
  .knet-wrapper{
    flex-direction: column;
  }
   .lookback-main {
    height: 350px;
    background-size: 100% 100%;
  }
  .lookback-body {
    left: 36%;
    width: 50%;
    top: 20%;
  }
  .saying-main{
    height: 350px;
    background-size: 100% 100%;
  }
  .saying-body {
    left: 30%;
    width: 50%;
    top: 20%;
  }
  .future-main{
    height: 350px;
    background-size: 100% 100%;
  }
  .future-body {
    left: 20%;
    width: 50%;
    top: 20%;
  }
  #topic > img {
    display: block;
    margin: 0 auto;
    width: 120px;
  }
  #poem > img {
    display: block;
    margin: 0 auto;
    height: 54px;
  }
  .copyright {
    display: none;
  }
  .footer {
    justify-content: center;
  }
}


@media screen and (max-width: 450px) {
  .wrapper{
    max-width: 400px;
  }
  .knet-wrapper{
    flex-direction: column;
  }
  .knet-right-main {
    font-size: 1.2em;
  }
  .info-button {
    width: 70px;
    line-height: 30px;
    font-size: 1.4em;
  }
  .lookback-main {
    height: 250px;
  }
  .saying-main {
    height: 250px;
  }
  .future-main {
    height: 260px;
  }
  
  .topic-item {
    font-size: 1.2em;
  }
}


